/*NavBar*/
.menu {
    list-style-type: none;
    display: flex;
    align-items: center; /* Alinhar itens verticalmente */
    margin: 0;
    padding: 0;
  }
  

  
  .agroconnect {
    color: rgb(0, 0, 0);
  padding-left: 7%;
    font-weight: 700;
    position: fixed;
   
  }
  
  
  .top-bar {
    background-color: transparent; /* Cor de fundo transparente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
  }
  
  .navbarLogo{
    width: 16vh;
  }
  
  .iconLarge{
   font-size: 24px;
   color: #8cc443;
  }
  
  .top-bar h4 {
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 0; /* Alterado para alinhar o h4 à esquerda */
    font-weight: 700;
  }
  
 
  .scrolled .top-bar {
    background-color: #ffffff; /* Cor de fundo quando scrolled */
    opacity: 0.92;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
  }
  

  .logo {
    width: 150px;
  }
  
  
 
  /*pesquisa*/
  .search-toggle {
    display: none;
  }
  
  .search-bar {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/img/search.png'); /* Ícone de pesquisa fechado */
    background-size: cover;
    cursor: pointer;
  }
  
  /* Quando o checkbox estiver marcado, mude o ícone para o ícone de fechar */
  .search-toggle:checked + .search-bar .search-icon {
    background-image: url('/img/search.png'); /* Ícone de pesquisa aberto */
  }
  
  .search-bar .search-input {
    width: 0;
    padding-left: 30px; /* Espaço para o ícone de pesquisa */
    transition: width 0.4s ease-in-out;
    background-color: #f2f2f200; /* Cor de fundo dentro da barra de pesquisa */
    border: none; /* Remover borda */
  }
  
  .search-toggle:checked + .search-bar .search-input {
    width: 150px; /* Largura do campo de pesquisa quando ativado */
    border: 1px solid #cccccc04; /* Adicionar borda quando ativado, se desejado */
  }
  
  /*Publicações*/
  .dropdown {
  
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cacdcba6;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f120;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*responsivo*/
  /* Media queries para tornar o estilo responsivo */
  @media screen and (max-width: 798px) {
    .menu li {
      margin-right: 10px; /* Reduz a margem entre os itens do menu em telas menores */
    }
  
    .logo {
      width: 120px; /* Reduz o tamanho da logo em telas menores */
    }
  
  
 
   
 .top-bar h4{
      color: rgb(0, 0, 0);
      margin-top: 15px;
      margin-left: -100px;
      font-size: 20px;
      font-family: "Salsa", cursive;
      font-weight: 400;
      font-style: normal
     }
   
    
  }
  
  
  
  
  